In [14]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [15]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data"
cols = ["buying","maintenance", "doors", "passengers","lug_boot", "safety", "class"]

In [16]:
df = pd.read_csv(url, names = cols )
df.sample(5)

     buying maintenance  doors passengers lug_boot safety  class
1413    low        high      2          4    small    low  unacc
302   vhigh         med  5more          2      med   high  unacc
1060    med        high  5more          2      big    med  unacc
134   vhigh        high      2       more      big   high  unacc
811    high         low      4          2    small    med  unacc

## select data

In [17]:
feature = ["buying","maintenance","lug_boot", "safety"]
df_feature = df[feature]

In [20]:
df_class = df[["class"]]

## encode string data to numerical

In [21]:
encoder_feature = OrdinalEncoder() 
encoder_class = LabelEncoder()

encoded_feature = encoder_feature.fit_transform(df_feature)
encoded_class = encoder_feature.fit_transform(df_class)

In [23]:
encoded_feature[0:4]

array([[3., 3., 2., 1.],
       [3., 3., 2., 2.],
       [3., 3., 2., 0.],
       [3., 3., 1., 1.]])

In [25]:
df["class"].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [28]:
encoded_df = pd.DataFrame(encoded_feature, columns = feature)
encoded_df["class"] = encoded_class
encoded_df.sample(5)

      buying  maintenance  lug_boot  safety  class
1551     1.0          2.0       1.0     1.0    2.0
1169     2.0          2.0       0.0     0.0    2.0
838      0.0          1.0       2.0     2.0    2.0
698      0.0          2.0       1.0     0.0    0.0
986      2.0          0.0       1.0     0.0    0.0

In [29]:
X_train,X_test,Y_train,Y_test = train_test_split(encoded_df.iloc[:,:-1], encoded_df.iloc[:,-1], test_size = 0.2)

In [32]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((1382, 4), (346, 4), (1382,), (346,))

In [33]:
NB_Categorica = CategoricalNB()

In [34]:
NB_Categorica .fit(X_train, Y_train)

CategoricalNB()

In [35]:
y_predict = NB_Categorica.predict(X_test)

In [36]:
confusion_matrix(Y_test, y_predict)

array([[  9,   0,  74,   0],
       [  0,   2,   9,   0],
       [  6,   5, 219,   4],
       [ 12,   1,   1,   4]], dtype=int64)

In [38]:
accuracy_score(Y_test, y_predict)

0.6763005780346821