In [12]:
import requests
import json
import mysql.connector
import pandas as pd
from datetime import datetime

In [2]:
# set API key variable
api_key = '242e4e26-733b-4642-b1c7-c8bbb5781e4c'
# use a formatted string for the request URL
response_api = requests.get(f'http://api.airvisual.com/v2/countries?key={api_key}')
# parse JSON data
data = response_api.text
parse_json = json.loads(data)
print(parse_json)

{'status': 'success', 'data': [{'country': 'Afghanistan'}, {'country': 'Algeria'}, {'country': 'Andorra'}, {'country': 'Angola'}, {'country': 'Argentina'}, {'country': 'Armenia'}, {'country': 'Australia'}, {'country': 'Austria'}, {'country': 'Bahamas'}, {'country': 'Bahrain'}, {'country': 'Bangladesh'}, {'country': 'Belgium'}, {'country': 'Bolivia'}, {'country': 'Bosnia Herzegovina'}, {'country': 'Brazil'}, {'country': 'Brunei'}, {'country': 'Bulgaria'}, {'country': 'Canada'}, {'country': 'Chile'}, {'country': 'China'}, {'country': 'Colombia'}, {'country': 'Croatia'}, {'country': 'Cyprus'}, {'country': 'Czech Republic'}, {'country': 'Democratic Republic of the Congo'}, {'country': 'Denmark'}, {'country': 'Ecuador'}, {'country': 'Ethiopia'}, {'country': 'Finland'}, {'country': 'France'}, {'country': 'Germany'}, {'country': 'Ghana'}, {'country': 'Guatemala'}, {'country': 'Hong Kong SAR'}, {'country': 'Hungary'}, {'country': 'India'}, {'country': 'Indonesia'}, {'country': 'Iran'}, {'country': 'Iraq'}, {'country': 'Ireland'}, {'country': 'Israel'}, {'country': 'Italy'}, {'country': 'Ivory Coast'}, {'country': 'Japan'}, {'country': 'Jordan'}, {'country': 'Kazakhstan'}, {'country': 'Kosovo'}, {'country': 'Kuwait'}, {'country': 'Kyrgyzstan'}, {'country': 'Latvia'}, {'country': 'Lithuania'}, {'country': 'Luxembourg'}, {'country': 'Macao SAR'}, {'country': 'Malaysia'}, {'country': 'Malta'}, {'country': 'Mexico'}, {'country': 'Mongolia'}, {'country': 'Myanmar'}, {'country': 'Nepal'}, {'country': 'Netherlands'}, {'country': 'New Caledonia'}, {'country': 'New Zealand'}, {'country': 'Nigeria'}, {'country': 'North Macedonia'}, {'country': 'Norway'}, {'country': 'Oman'}, {'country': 'Pakistan'}, {'country': 'Palestinian Territory'}, {'country': 'Peru'}, {'country': 'Philippines'}, {'country': 'Poland'}, {'country': 'Portugal'}, {'country': 'Puerto Rico'}, {'country': 'Romania'}, {'country': 'Russia'}, {'country': 'San Marino'}, {'country': 'Serbia'}, {'country': 'Singapore'}, {'country': 'Slovakia'}, {'country': 'Slovenia'}, {'country': 'South Africa'}, {'country': 'South Korea'}, {'country': 'Spain'}, {'country': 'Sri Lanka'}, {'country': 'Svalbard and Jan Mayen'}, {'country': 'Sweden'}, {'country': 'Switzerland'}, {'country': 'Syria'}, {'country': 'Taiwan'}, {'country': 'Thailand'}, {'country': 'Turkey'}, {'country': 'U.S. Virgin Islands'}, {'country': 'USA'}, {'country': 'Uganda'}, {'country': 'Ukraine'}, {'country': 'United Arab Emirates'}, {'country': 'United Kingdom'}, {'country': 'Uzbekistan'}, {'country': 'Vietnam'}, {'country': 'Yemen'}]}

In [3]:
# use a formatted string for the request URL
response_api = requests.get(f'http://api.airvisual.com/v2/states?country=Thailand&key={api_key}')
# parse JSON data
data = response_api.text
parse_json = json.loads(data)
print(parse_json)

{'status': 'success', 'data': [{'state': 'Bangkok'}, {'state': 'Chachoengsao'}, {'state': 'Chiang Mai'}, {'state': 'Chiang Rai'}, {'state': 'Chon Buri'}, {'state': 'Kanchanaburi'}, {'state': 'Lampang'}, {'state': 'Loei'}, {'state': 'Mae Hong Son'}, {'state': 'Nakhon Ratchasima'}, {'state': 'Nakhon Sawan'}, {'state': 'Nan'}, {'state': 'Narathiwat'}, {'state': 'Nonthaburi'}, {'state': 'Phayao'}, {'state': 'Phra Nakhon Si Ayutthaya'}, {'state': 'Phrae'}, {'state': 'Phuket'}, {'state': 'Rayong'}, {'state': 'Samut Prakan'}, {'state': 'Samut Sakhon'}, {'state': 'Samut Songkhram'}, {'state': 'Sara Buri'}, {'state': 'Satun'}, {'state': 'Tak'}, {'state': 'Yala'}]}

In [4]:
# use a formatted string for the request URL
response_api = requests.get(f'http://api.airvisual.com/v2/cities?state=Chiang Mai&country=Thailand&key={api_key}')
# parse JSON data
data = response_api.text
print(data)

{"status":"success","data":[{"city":"Chiang Dao"},{"city":"Chiang Mai"},{"city":"Doi Saket"},{"city":"Hang Dong"},{"city":"Mae Chaem"},{"city":"Mae On"},{"city":"Mae Taeng"},{"city":"San Kamphaeng"},{"city":"San Sai"}]}

In [5]:
# use a formatted string for the request URL
response_api = requests.get(f'http://api.airvisual.com/v2/cities?state=Chiang Mai&country=Thailand&key={api_key}')
# parse JSON data
data = response_api.text
parse_json = json.loads(data)
print(parse_json)

{'status': 'success', 'data': [{'city': 'Chiang Dao'}, {'city': 'Chiang Mai'}, {'city': 'Doi Saket'}, {'city': 'Hang Dong'}, {'city': 'Mae Chaem'}, {'city': 'Mae On'}, {'city': 'Mae Taeng'}, {'city': 'San Kamphaeng'}, {'city': 'San Sai'}]}

In [6]:
# list of countries, states, and cities to grab data for
locations = [
    ('Thailand', 'Chiang Mai', 'Chiang Dao'),
    ('Thailand', 'Chiang Mai', 'Chiang Mai'),
    ('Thailand', 'Chiang Mai', 'Doi Saket'),
    ('Thailand', 'Chiang Mai', 'Hang Dong'),
    ('Thailand', 'Chiang Mai', 'Mae Chaem'),
    ('Thailand', 'Chiang Mai', 'Mae On'),
    ('Thailand', 'Chiang Mai', 'Mae Taeng'),
    ('Thailand', 'Chiang Mai', 'San Kamphaeng'),
    ('Thailand', 'Chiang Mai', 'San Sai')
]

In [10]:
all_pollution_data = []
for location in locations:
    country = location[0]
    state = location[1]
    city = location[2]

    response_api = requests.get(
        f'http://api.airvisual.com/v2/city?city={city}&state={state}&country={country}&key={api_key}')
    data = response_api.text
    parse_json = json.loads(data)

    # grab datetime
    dt = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    # grab weather data
    weather = parse_json['data']['current']['weather']
    temperature = weather['tp']
    pressure = weather['pr']
    humidity = weather['hu']
    wind_speed = weather['ws']
    wind_direction = weather['wd']
    weather_data = [dt, country, state, city, temperature, pressure, humidity, wind_speed, wind_direction]

    # grab pollution data
    pollution = parse_json['data']['current']['pollution']
    aqi_us = pollution['aqius']
    aqi_cn = pollution['aqicn']
    pollution_data = [dt, country, state, city, aqi_us, aqi_cn]
    all_pollution_data.append(pollution_data)

In [11]:
 all_pollution_data

[['2022-04-18 11:52:46', 'Thailand', 'Chiang Mai', 'Chiang Dao', 111, 56],
 ['2022-04-18 11:52:46', 'Thailand', 'Chiang Mai', 'Chiang Mai', 122, 61],
 ['2022-04-18 11:52:46', 'Thailand', 'Chiang Mai', 'Doi Saket', 119, 60],
 ['2022-04-18 11:52:47', 'Thailand', 'Chiang Mai', 'Hang Dong', 151, 77],
 ['2022-04-18 11:52:47', 'Thailand', 'Chiang Mai', 'Mae Chaem', 119, 60],
 ['2022-04-18 11:52:47', 'Thailand', 'Chiang Mai', 'Mae On', 131, 66],
 ['2022-04-18 11:52:47', 'Thailand', 'Chiang Mai', 'Mae Taeng', 111, 56],
 ['2022-04-18 11:52:48', 'Thailand', 'Chiang Mai', 'San Kamphaeng', 126, 63],
 ['2022-04-18 11:52:48', 'Thailand', 'Chiang Mai', 'San Sai', 115, 58]]

In [13]:
df = pd.DataFrame(data=all_pollution_data,columns=['date&time','country','province','district','aqi_us', 'aqi_cn'])

In [14]:
df

             date&time   country    province       district  aqi_us  aqi_cn
0  2022-04-18 11:52:46  Thailand  Chiang Mai     Chiang Dao     111      56
1  2022-04-18 11:52:46  Thailand  Chiang Mai     Chiang Mai     122      61
2  2022-04-18 11:52:46  Thailand  Chiang Mai      Doi Saket     119      60
3  2022-04-18 11:52:47  Thailand  Chiang Mai      Hang Dong     151      77
4  2022-04-18 11:52:47  Thailand  Chiang Mai      Mae Chaem     119      60
5  2022-04-18 11:52:47  Thailand  Chiang Mai         Mae On     131      66
6  2022-04-18 11:52:47  Thailand  Chiang Mai      Mae Taeng     111      56
7  2022-04-18 11:52:48  Thailand  Chiang Mai  San Kamphaeng     126      63
8  2022-04-18 11:52:48  Thailand  Chiang Mai        San Sai     115      58